target/
.idea/
.vscode/
logs/
log/
*.DS_Store
*.iml
*.bin
*.log
*.tar.gz
*.zip
*.lib
assembly/runtime/*
**/dist/
*.umi/
/assembly/deploy
/runtime
**/.flattened-pom.xml
chm_db/
__pycache__/
/dict
assembly/build/*-SNAPSHOT
**/node_modules/
benchmark/res/
headless/server/src/main/java/com/tencent/supersonic/headless/server/service/impl/MetricServiceImpl.java
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.m2e.core.prefs
**/.settings/org.eclipse.core.resources.prefs
**/.settings/org.eclipse.m2e.core.prefs
**/.settings/org.eclipse.jdt.apt.core.prefs
**/.settings/org.springframework.ide.eclipse.prefs
**/.classpath
**/.settings/org.eclipse.jdt.core.prefs
**/.factorypath
